<h1>New post</h1>

<form action="/submit" method="POST">
	<table>
		<tr>
			<td>Name:</td>
			<td> <input type="text" name="post[name]" value="" /></td>
		</tr>
		<tr>
			<td>Title:</td>
			<td> <input type="text" name="post[title]" value="" /></td>
		</tr>
		<tr>
			<td>Description:</td>
			<td> <input type="text" name="post[description]" value="" /></td>
		</tr>
	</table>
	
	<input type="submit" value="Submit" />
</form>

<a href="/">Go to home</a>
